doctype html
head
    meta(charset="UTF-8")
    title
        | Foxes and rabbits
    style
        | html, body { margin: 0; padding: 0; overflow: hidden; }
body
    script(src="js/three.js")
    script(src="js/threejs-test.js")
